:root {
  --darkestBlue: #012761;
  --darkerBlue: #26487a;
  --blue: #0246ad;
  --lightBlue: #0265fa;
  --lighterBlue: #3666ad;
  --lightestBlue: #a0c4fb;
  --orange: #e89a00;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}
body {
  width: 100%;
}
.btn {
  border-radius: 10px;
  background-color: var(--orange);
  padding: 10px;
  margin: auto;

  border: 0;
  color: white;
}

.title {
  font-weight: bold;
  color: var(--darkestBlue);
  text-align: center;
}
.title1 {
  color: white;
  text-align: center;
}
.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2%;
  background: cornflowerblue;
  padding-right: 3%;
  padding-left: 3%;
}
.card-body {
  border: black 1px solid;
  width: 50%;
  margin: auto;
}
.card-image-container {
  /* grid-column: 1/2;
   grid-row-start: 1;
  grid-row-end: 2;
  width: 50%;
  border: 2px solid black;
  color: gray;
  padding: 30px;
  margin-top: 30%;
  height: 70%; */
  border: chartreuse 1px solid;
  height: 100px;
}
.card-text-container {
  /* grid-column: 1/2;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 50%;
  margin: auto; */
  border: darkgoldenrod solid 1px;
}
