:root{
    --darkestBlue:#012761;
    --darkerBlue:#26487A;
    --blue:#0246AD;
    --lightBlue:#0265FA;
    --lighterBlue:#3666AD;
    --lightestBlue:#A0C4FB;
    --orange:#E89A00;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}
body{
    width: 100%;
}
footer{
    display: grid;
    grid-template-columns: 30% 24% 23% 23%  ;
    grid-template-rows: 25% 40% 35%;
    grid-template-areas: 
    'logo privacy services aboutus'
    'logo register services aboutus'
    'logo contactus ourteam aboutus'
    ;
    width: 100%;
    min-height:100px;
    background-color: var(--lightBlue);
    padding: 2%;
    overflow: hidden;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}


/* NavBar */
.nav{
    position: relative;
    
}
.first-sec-nav{
    background-color:var(--darkestBlue);
    border:1px solid var(--darkerBlue);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.first-sec-nav > button{
    background-color: var(--orange);
    color: white;
    padding:0.5em 2em ;
    border: 1px white solid;
    border-radius: 25px;
    margin-right: 10%;
    cursor: pointer;
    font-weight: bold
}

.second-sec-nav{
    background-color:var(--lightBlue);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    font-weight: bold;
    position: relative;
}
.second-sec-nav .left-ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 45%;
    align-items: center;
}
.second-sec-nav .left-ul > li{
    width: 33.3%;
    text-align: center;
    font-size: 2em;
    
    
}

.second-sec-nav .right-ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 45%;
    align-items: center;
}
.second-sec-nav .right-ul >li{
text-align: center;
    width: 33.3%;
     font-size: 2em;
}

.dropdown{
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
    padding-top: 9%;
    cursor: pointer;
}



.dropdown-list{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown:hover{
    background-color: var(--darkestBlue);
}
.dropdown:hover .dropdown-list {display: block;}
.dropdown-list a{
    background-color: var(--darkerBlue);
    border: 1px solid var(--lightestBlue);
    display: block;
}
.dropdown-list a:hover{
    background-color: var(--lightestBlue);
}

.banner{
    background-color: var(--lightestBlue);
    width: 10%;
    /* height: 10em; */
    position: relative;
    overflow: visible;

}
.main-banner{

    background-color: var(--lightestBlue);
    position: relative;
    z-index: 1;
    border-right: 2px white solid;
    border-left: 2px white solid;
    border-top: 2px white solid;
}
.main-banner >img{
    width: 100%;
}
.rotated{
    background-color: var(--lightestBlue);
    height: 60%;
    width: 69%;
    transform: rotate(45deg);
    margin: auto;
    position:absolute ;
    top:70%;
    left:15.3%;
    /* border-right: 2px white solid;
    border-left: 2px white solid;
    border-top: 2px white solid; */
}



/* Slider */
.slider-main{
    width: 100%;
    height:30rem;
    margin: 0 auto;
    position: relative;
    
} 

.slider-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-track{
    list-style: none;
    position: relative;
    height: 100%;
    z-index: -1;
    transition: transform 250ms ease-in;
}

.slider-track-container{
    overflow: hidden;
    height: 100%;
    position: relative;
}
.slider-slide{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.left-arrow{
width: 2%;
/* color: white; */
vertical-align: middle;
 background-color: rgba(0,0,0,0.5);
 border: 0;
padding-top: 1%;
padding-right: 0.1%;
padding-left:0.3%;
position: absolute;
top:50%;
transform: translateY(-50%);
left:0.5%;

}


.right-arrow{
width: 2%;
color: white;
vertical-align: middle;
background-color: rgba(0,0,0,0.5);
border: 0;
padding-top: 1%;
padding-right: 0.1%;
padding-left:0.3%;
position: absolute;
top:50%;
transform: translateY(-50%);
right:0.5%;

}

.slider-nav{
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    right: 47%;
    bottom: 3%;
    
}
.slider-indictor{
    border: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: rgba(0,0,0,0.3);
    margin: 0 12px;
}

.slider-indictor.current-slide{
    background:var(--darkestBlue);
}

.is-hidden{
    display: none;
}

/* About-us */
.aboutus-sec{
    display: flex;
    width: 100%;
    background-image:url('../res/about-us-bg.svg');
    background-position-y: px;

    background-size: cover;
    padding:5%;
    padding-top: 3%;
}
.aboutus-sec-left{
    width: 50%;
    align-items: center;
}
.aboutus-sec-right{
    width: 50%;
    align-items: center;
}
.aboutus-text{
    margin-top: 15%;
    font-size: 30px;
}
.aboutus-title{
    text-align: center;
    padding: 3%;
    color: var(--darkestBlue);
}
.aboutus-text{
    color: black;
    line-height: 110%;
}

@media only screen and (max-device-width:820px) {

    /* NavBar */
    #open-side-btn{
        display: block !important;
    }
    .right-ul{
        display: none !important;
    }
    .left-ul{
        display: none !important;
    }

    /* AboutUs */
.aboutus-text{
    margin-top: 15%;
    font-size: 20px;
    justify-content: center !important;
    
}
.aboutus-sec-left{
    width: 50%;
    align-items: center;
    margin: auto;
}
.aboutus-sec-right{
    width: 50%;
    align-items: center;
    margin: auto;
}


}

@media only screen and (max-device-width:700px) {
    .aboutus-sec{
        flex-direction: column-reverse;
        background-size: auto;
        background-position-x:right
    }
    /* .more{
        margin-top: 0 !important;
    } */
    .aboutus-title{
        color: white;
    }
}

/* Side Menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: var(--darkestBlue); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

#open-side-btn{
    position: absolute;
    left: 0;
    top: 25%;
    width: 3%;
    display: none;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--orange);
  display: block;
  transition: 0.3s;
  text-align: center;

}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}



/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



/* Cards Grid By Hala */
.card-btn {
    margin-top: 10%;
    border-radius: 24px;
    background-color: var(--orange);
    padding: 2%;
    padding-left: 7%;
    padding-right: 7%;
    margin: 0 auto;
    text-align: center;
    border: 0;
    color: white;
    font-size: 1.6em;
    font-weight: bolder;
}

.title {
    font-size: 2em;
    font-weight: bolder;
    
    text-align: center;
    color: var(--lightBlue);
}
.title1 {
    color: var(--darkestBlue);
    text-align: center;
    margin-top: 2%;
    margin-bottom: 10%;
    font-size: 2em;
}
.our-courses-sec{
    background: url('../res/courses-bg.svg');
    background-position-y: -250px;
    background-size: cover;
    background-repeat: no-repeat;
}
.grid-cards-container {
  
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2%;
  padding-right: 3%;
  padding-left: 3%;
}
.card-body {
  
  width: 50%;
  margin: auto;
}
.card-image-container {
  padding-top: 2%;
  background: transparent;
}
.card-image-container img{
    width: 100%;
}
.card-text-container {

  
  display: flex;
  flex-direction: column;
}

/*  */


.more{
    text-align: center;
    color: white;
    font-size: 2.5em;
    font-weight: bolder;
    padding: 2%;

}
.db{
    color: var(--darkerBlue);
}


/*  */
.footer-logo-container{
    width: 100%;
    display: flex;
    justify-content: center;
    grid-area: logo
}
.footer-logo-container img{
    height:100%;
    width:90%;

}
.privacy{
    grid-area:privacy;
}
.aboutus{
    grid-area: aboutus;
}
.services{
    grid-area: services;
}
.ourteam{
    grid-area: ourteam;
}
.register{
    grid-area: register;
}
.contactus{
    grid-area: contactus;
}
.logo{
    grid-area: logo;
}



.list-title{
    color: var(--darkestBlue);
    font-size: 30px;
    font-weight: 900;
    text-decoration: underline;
    
}
.footer-list-item{
    color: white;
    font-size: 20px;
    cursor: pointer;

}
.footer-list-item:hover{
    text-decoration: underline;
    font-weight: 600;
}
.social-media-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:60%
}
.facebook{
    /* color: #3b5998; */
    color: var(--darkestBlue);
}
.twitter{
    /* color: #1da1f2; */
    color: var(--darkestBlue);
}
.yt{
    /* color: #ff0000; */
    color: var(--darkestBlue);
}
.insta{
    /* color:#c32aa3 */
    color: var(--darkestBlue);
}
.whatsapp{
    /* color: #25d366; */
    color: var(--darkestBlue);
}

@media only screen and (max-device-width:808px) {
    .grid-cards-container{
        grid-template-columns: 1fr;
        margin-top: 3%;

    }
    .db{
        margin-top: 9%;
    }
    .register{
        padding-top:13%;
    }
}

@media only screen and (max-device-width:1063px) {
    footer{
        grid-template-rows: 50% 15% 25%;
        grid-template-columns: 40% 30% 30%;
        grid-template-areas: 
        "logo services aboutus"
        "privacy register aboutus"
        "contactus register ourteam";
        gap: 5%;
        
    }
    .privacy{
        margin: auto;
    }
    .contactus{
        margin:0 auto;
        width: 60%;
    }

    .social-media-icons{

    width:100%
}
    
}
@media only screen and (max-device-width:789px) {
    footer{
        grid-template-rows: 25% 25% 25% 25%;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "logo services"
        "privacy aboutus"
        " register aboutus"
        "contactus ourteam";
        gap: 1%;
        min-height:1000px ;
        
    }
    .privacy{
        margin: auto;
    }
    .contactus{
        margin:0 auto;
        width: 60%;
    }
    .register{
        margin:0 auto;
        padding-top: 0;
        width: 50%;
    }
    .aboutus{
        padding-top:13%;
        padding-left: 15%;
    }
    .ourteam{
        padding-left: 15%;
    }
    .services{
        margin: 0 auto;
    }
}
@media only screen and (max-device-width:531px) {
    footer{
        grid-template-rows: 15% 15% 10% 10% 25% 6% auto;
        grid-template-columns: 100%;
        grid-template-areas: 
        "logo"
        "services"
        "register"
        "privacy"
        "aboutus"
        "ourteam"
        "contactus";
        
        min-height:1000px ;
        
    }
    .privacy{
        margin: auto;
        padding-left: 8%;
    }
    .contactus{
        padding-top: 4%;
        margin:0 auto;
    }
    .register{
        margin:0 auto;
        padding-top: 0;
    }
    .aboutus{
        padding-top:0%;
        padding-left: 0%;
        margin: 0 auto;
    }
    .ourteam{
        padding-top: 0%;
        padding-left: 0%;
        padding-right: 16%;
        margin: 0 auto;
    }
    .services{
        margin: 0 auto;
        padding-left: 20%;
    }
}