:root{
    --darkestBlue:#012761;
    --darkerBlue:#26487A;
    --blue:#0246AD;
    --lightBlue:#0265FA;
    --lighterBlue:#3666AD;
    --lightestBlue:#A0C4FB;
    --orange:#E89A00;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}
body{
    width: 100%;
}

/* NavBar */
.nav{
    position: relative;
    
}
.first-sec-nav{
    background-color:var(--darkestBlue);
    border:1px solid var(--darkerBlue);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.first-sec-nav > button{
    background-color: var(--orange);
    color: white;
    padding:0.5em 2em ;
    border: 1px white solid;
    border-radius: 25px;
    margin-right: 10%;
    cursor: pointer;
    font-weight: bold
}

.second-sec-nav{
    background-color:var(--blue);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    font-weight: bold;
    position: relative;
}
.second-sec-nav .left-ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 45%;
    align-items: center;
}
.second-sec-nav .left-ul > li{
    width: 50%;
    text-align: center;
    font-size: 2em;
    
    
}

.second-sec-nav .right-ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 45%;
    align-items: center;
}
.second-sec-nav .right-ul >li{
text-align: center;
    width: 33.3%;
     font-size: 2em;
}

.banner{
    background-color: var(--lightestBlue);
    width: 10%;
    /* height: 10em; */
    position: relative;
    overflow: visible;

}
.main-banner{

    background-color: var(--lightestBlue);
    position: relative;
    z-index: 1;
    border-right: 2px white solid;
    border-left: 2px white solid;
    border-top: 2px white solid;
}
.main-banner >img{
    width: 100%;
}
.rotated{
    background-color: var(--lightestBlue);
    height: 60%;
    width: 69%;
    transform: rotate(45deg);
    margin: auto;
    position:absolute ;
    top:70%;
    left:15.3%;
    /* border-right: 2px white solid;
    border-left: 2px white solid;
    border-top: 2px white solid; */
}



/* Slider */
.slider-main{
    width: 100%;
    height:30rem;
    margin: 0 auto;
    position: relative;
    
} 

.slider-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-track{
    list-style: none;
    position: relative;
    height: 100%;
    z-index: -1;
    transition: transform 250ms ease-in;
}

.slider-track-container{
    overflow: hidden;
    height: 100%;
    position: relative;
}
.slider-slide{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.left-arrow{
width: 2%;
/* color: white; */
vertical-align: middle;
 background-color: rgba(0,0,0,0.5);
 border: 0;
padding-top: 1%;
padding-right: 0.1%;
padding-left:0.3%;
position: absolute;
top:50%;
transform: translateY(-50%);
left:0.5%;

}


.right-arrow{
width: 2%;
color: white;
vertical-align: middle;
background-color: rgba(0,0,0,0.5);
border: 0;
padding-top: 1%;
padding-right: 0.1%;
padding-left:0.3%;
position: absolute;
top:50%;
transform: translateY(-50%);
right:0.5%;

}

.slider-nav{
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    right: 47%;
    bottom: 3%;
    
}
.slider-indictor{
    border: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: rgba(0,0,0,0.3);
    margin: 0 12px;
}

.slider-indictor.current-slide{
    background:var(--darkestBlue);
}

.is-hidden{
    display: none;
}

/* About-us */
.aboutus-sec{
    display: flex;
    width: 100%;
    background-image:url('../res/wave.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding:5%;
    padding-top: 3%;
}
.aboutus-sec-left{
    width: 50%;
    align-items: center;
}
.aboutus-sec-right{
    width: 50%;
    align-items: center;
}
.aboutus-text{
    margin-top: 15%;
    font-size: 30px;
}
.aboutus-title{
    text-align: center;
    margin-bottom: 3%;
    color: var(--darkestBlue);
}
.aboutus-text{
    color: black;
    line-height: 110%;
}

@media only screen and (max-device-width:820px) {

    /* NavBar */
    #open-side-btn{
        display: block !important;
    }
    .right-ul{
        display: none !important;
    }
    .left-ul{
        display: none !important;
    }

    /* AboutUs */
.aboutus-text{
    margin-top: 15%;
    font-size: 20px;
    justify-content: center !important;
    
}
.aboutus-sec-left{
    width: 50%;
    align-items: center;
    margin: auto;
}
.aboutus-sec-right{
    width: 50%;
    align-items: center;
    margin: auto;
}


}

@media only screen and (max-device-width:700px) {
    .aboutus-sec{
        flex-direction: column-reverse;
    }
}

/* Side Menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: var(--darkestBlue); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

#open-side-btn{
    position: absolute;
    left: 0;
    top: 25%;
    width: 3%;
    display: none;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--orange);
  display: block;
  transition: 0.3s;
  text-align: center;

}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}



/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}